@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 90 83% 99%;
    --foreground: 211 79% 10%;
    --card: 90 83% 99%;
    --card-foreground: 211 79% 10%;
    --popover: 90 83% 99%;
    --popover-foreground: 211 79% 10%;
    --primary: 211 79% 23%;
    --primary-foreground: 0 0% 98%;
    --secondary: 164 36% 37%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 47 100% 54%;
    --accent-foreground: 211 79% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 211 79% 23%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 211 79% 10%;
    --foreground: 90 83% 99%;
    --card: 211 79% 12%;
    --card-foreground: 90 83% 99%;
    --popover: 211 79% 12%;
    --popover-foreground: 90 83% 99%;
    --primary: 90 83% 99%;
    --primary-foreground: 211 79% 10%;
    --secondary: 164 36% 37%;
    --secondary-foreground: 90 83% 99%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 47 100% 54%;
    --accent-foreground: 211 79% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 47 100% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
